

.menu-top-wrap {
    float: right;
    margin-top:-30px;

    @include mq($max, $tablet-landscape-breakpoint) {
        float: none;
        text-align: center;
    }

    .menu-top {
        padding: 0;

        li {
            padding: 0;

            a {
                display: block;

                font-size: em(18) !important;
                font-weight:$font-weight-semi-bold;
                text-decoration: none !important;
                text-transform: uppercase;
                color: $grey;
                letter-spacing:1px;

                @include custom-transition(color 200ms);

                &:hover {
                    color: $green;
                }

                @include mq($max, $tablet-landscape-breakpoint) {
                    padding:15px;
                    letter-spacing:0;
                    color:$white;
                    margin-top:0;

                    font-size:em(18);
                    font-weight:$font-weight-light;
                }
            }
        }

        #menu-item-275 {

            padding-top:28px;

            @include mq($min, $tablet-landscape-breakpoint) {
                margin-right:25px;
            }

            > a::after {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                content: "";
                position: absolute;
                top: 50%;
                right: -1px;
                margin-top: -.5em;
                font-size: 12px;

                @include mq($max, $tablet-landscape-breakpoint) {
                    display:none;
                }
            }
        }
    }
}