

.menu-wrap {
    height: 100%;

    @include mq($min, $tablet-landscape-breakpoint) {
        height: auto;
    }

    .mobile-menu-toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: $header-height-mobile;
        width: 60px;

        cursor: pointer;

        z-index: 810;

        @include no-select();

        -webkit-transition: -webkit-transform 200ms ease-in;
        -moz-transition: transform 200ms ease-in;
        -o-transition: transform 200ms ease-in;
        transition: transform 200ms ease-in;

        // Tablet
        @include mq('', $mobile-mid-breakpoint, $tablet-landscape-breakpoint) {
            height: $header-height-tablet;
            right: 8px;
        }

        // Desktop
        @include mq($min, $tablet-landscape-breakpoint) {
            display: none;
        }


        // Hamburger lines
        span,
        span:before,
        span:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -11px;

            height: 2px;
            width: 22px;
            background: $menu-toggle-color;

            @include custom-transition(all 200ms ease-in);
        }

        span {
            top: 50%;
            margin-top: -1px;

            &:before {
                top: -7px;
            }

            &:after {
                bottom: -7px;
            }

        }


        // Menu Active
        &.active {

            @include transform(rotate(90deg));

            // Hamburger lines
            span {
                background-color: transparent;

                &:before {
                    @include transform(rotate(45deg) translate3D(5px, 5px, 0));
                }

                &:after {
                    @include transform(rotate(-45deg) translate3D(5px, -5px, 0));
                }
            }
        }

    }

    nav {

        .menu-container {


            ul {
                padding: 0;
                list-style: none;
            }

            li {
                position: relative;
                padding: 0;
                
                //&:last-child {
                //    position: absolute;
                //}
            }

            a {
                position: relative;
                display: block;
                padding: 15px;
                color: $black;
                font-family: $nav-font-family;
                font-weight: $font-weight-regular;
                font-size: em(16);
                text-transform: uppercase;
                text-decoration: none;

                @include custom-transition(background 200ms, color 200ms);
            }
        }
    }


    // Mobile Menu
    @include mq($max, $tablet-landscape-breakpoint) {

        nav {
            position: fixed;
            top: -100px;
            bottom: -100px;
            left: 0;
            width: 100%;
            padding: (100px + $header-height-mobile) 20px 100px;
            overflow: hidden;

            opacity: 0;
            visibility: hidden;

            z-index: 800;

            background: transparentize($dark-grey, 0.04);

            @include transform(translate3D(-110%, 0, 0));

            // Tablet
            @include mq('', $mobile-mid-breakpoint, $tablet-landscape-breakpoint) {
                padding-top: (100px + $header-height-tablet);
            }


            &.animating {
                -webkit-transition: opacity 400ms, visibility 400ms, -webkit-transform 0ms 400ms;
                -moz-transition: opacity 400ms, visibility 400ms, transform 0ms 400ms;
                transition: opacity 400ms, visibility 400ms, transform 0ms 400ms;
            }

            &.is-opened {
                opacity: 1;
                visibility: visible;

                @include transform(translate3D(0, 0, 0));

                &.animating {
                    -webkit-transition: opacity 400ms, visibility 0ms 0ms, -webkit-transform 0ms 0ms;
                    -moz-transition: opacity 400ms, visibility 0ms 0ms, transform 0ms 0ms;
                    transition: opacity 400ms, visibility 0ms 0ms, transform 0ms 0ms;
                }
            }

            .menu-container {
                overflow: auto;
                height: 100%;

                .menu {
                    max-width: 500px;
                    margin: 0 auto;
                }

                li {
                    text-align: center;
                    margin-bottom: 10px;
                }

                // Main Menu only
                .menu-main {

                    li {
                        > a {
                            @include background-color(true, transparent, $white, rgba($white, 0.2));
                        }
                    }
                }
            }
        }
    }


    // Standard Menu
    @include mq($min, $tablet-landscape-breakpoint) {
        clear: both;

        nav {
            display: block;
            position: relative;
            top: auto;
            left: auto;
            height: $header-nav-height-desktop;
            margin: 10px 0 0;

            opacity: 1;
            visibility: visible;

            .menu-container {
                height: $header-nav-height-desktop;
                
                ul {
                    display: inline-block;
                }

                // Top Level Menu Items
                .menu {

                    > li {

                        > a {
                            padding: $header-nav-padding-desktop;
                            overflow: hidden;

                            font-weight:$font-weight-semi-bold;
                            font-size: em(14);


                            @include mq($min, 1160px) {
                                padding: $header-nav-padding-desktop;
                            }
                        }
                    }
                }

                // All Menu Items
                li {
                    position: relative;
                    display: inline-block;
                    margin-left: -0.26em; // Spacing fix
                    width: auto;

                    &:hover,
                    &.current-menu-parent {
                        > a {
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}


// Body class when Menu Active
@include mq($max, $tablet-landscape-breakpoint) {

    body {
        &.menu-active {
            overflow: hidden;
        }
    }
}


// Admin Bar Mobile/Tablet
@include mq($max, $tablet-landscape-breakpoint) {

    .admin-bar  {
        .menu-wrap {
            nav {
                top: ($wp-adminbar-height - 100px);

                @include mq($min, $wp-tablet-adminbar-breakpoint) {
                    top: ($wp-adminbar-height-desktop - 100px);
                }
            }
        }
    }
}