

.menu-wrap {
    nav {

        .menu {

            .menu-item-has-children {

                @include mq($max, $tablet-landscape-breakpoint) {

                    .sub-menu-toggle {
                        position: absolute;
                        right: 0;
                        height: 52px;
                        width: 52px;
                        top: 30px;
                        cursor: pointer;


                        @include font-awesome-icon-element($fa-var-angle-down) {
                            color: $white;
                            font-size: 26px;
                            line-height: 52px;
                        }
                    }

                    .sub-menu {
                        display: none;

                        li {
                            margin: 0;
                        }

                        a {
                            margin-bottom: -1px;
                            border:1px solid rgba(46, 194, 90, 0.2);
                        }
                    }

                    // Open
                    &.open {

                        .sub-menu-toggle {

                            &:before {
                                content: $fa-var-angle-up;
                            }
                        }

                        .sub-menu {
                            display: block;
                        }
                    }
                }

                @include mq($min, $tablet-landscape-breakpoint) {

                    .sub-menu-toggle {
                        display: none;
                    }

                    .sub-menu {
                        opacity: 0;
                        visibility: hidden;
                        @include custom-transition(opacity 200ms 0ms, visibility 0ms 200ms);
                    }

                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            visibility: visible;
                            @include custom-transition(opacity 200ms 0ms, visibility 0ms 0ms);
                        }
                    }
                }
            }
        }

        .sub-menu {

            @include mq($min, $tablet-landscape-breakpoint) {
                display: block;
                position: absolute;
                top: 95px;
                left:-231px;
                width: auto;
                margin: 0 auto;
                overflow: hidden;

                li {
                    display: block;
                    margin: 0;

                    > a {
                        display: block;
                        padding: 25px 48px 21px 29px;
                        background: $white;

                        line-height: 1em;
                        font-size: em(12);
                        text-transform:none;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
