//===============================================================//
// Background Color
//===============================================================//
//
// Create background color and font color. Optional hover class.
// Hover background colour will default to lighten(background colour, 4%)
// if none set.
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $hover-class        {Bool}- If the hover style should be included
//      $bg-color           {RGBA Color}- Background Color
//      $font-color         {RGBA Color}- Font colour
//      $border-color       {RGBA Color}- Border Color
//      $hover-bg-color     {RGBA Color}- Hover background colour
//      $hover-font-color   {RGBA Color}- Hover font colour
//      $hover-border-color {RGBA Color}- Border Color
//
//  SCSS:
//
//      .picture {
//          @include background-color(false, #FF0000, #FFFFFF);
//      }
//
//      .picture2 {
//          @include background-color(true, #0084FF, #FFFFFF, #0084FF, #24FF1B, #000000, #FF4500);
//      }
//
//  CSS:
//
//      .picture { background-color: #FF0000; color: #FFFFFF; border-color: #FF0000; }
//
//      .picture2 { background-color: #0084FF; color: #FFFFFF; border-color: #0084FF;}
//      .picture2:hover { background-color: #24FF1B; color: #000000; border-color: #FF4500; }
//
//===============================================================//

@mixin background-color($hover-class, $bg-color, $font-color: '', $border-color: '', $hover-bg-color:'', $hover-font-color:'', $hover-border-color: '') {

    @include background-color-styles($bg-color, $font-color, $border-color);

    @if $hover-class {

        @include custom-transition(background 200ms, color 200ms, border 200ms);

        &:hover {


            @include background-hover-color-styles($bg-color, $font-color, $border-color, $hover-bg-color, $hover-font-color, $hover-border-color);
        }
    }
}



//===============================================================//
// Background Color Class
//===============================================================//
//
// Create background class for background color and font color.
// Additional hover class and style also created. Hover background colour
// will default to lighten(background colour, 4%) if none set.
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $bg-color-name      {String}- The class name to append bg-
//      $bg-color           {RGBA Color}- Background Color
//      $font-color         {RGBA Color}- Font colour
//      $border-color       {RGBA Color}- Border Color
//      $hover-bg-color     {RGBA Color}- Hover background colour
//      $hover-font-color   {RGBA Color}- Hover font colour
//      $hover-border-color {RGBA Color}- Border Color
//
//  SCSS:
//
//      @include background-color-class('red', #FF0000, #FFFFFF);
//
//      @include background-color-class('blue', #0084FF, #FFFFFF, #0084FF, #24FF1B, #000000, #FF4500);
//
//  CSS:
//
//      .bg-red { background-color: #FF0000; color: #FFFFFF; border-color: #FF0000; }
//
//      .bg-blue { background-color: #0084FF; color: #FFFFFF; border-color: #0084FF; }
//      .bg-blue.bg-hover:hover { background-color: #24FF1B; color: #000000; border-color: #FF4500; }
//
//===============================================================//

@mixin background-color-class($bg-color-name, $bg-color, $font-color: '', $border-color: '', $hover-bg-color:'', $hover-font-color:'', $hover-border-color:'') {

    .bg-#{$bg-color-name} {

        @include background-color-styles($bg-color, $font-color, $border-color);


        // Adding bg-hover class to element will enable background hover animation
        &.bg-hover {

            @include custom-transition(background 200ms, color 200ms, border 200ms);

            &:hover {

                @include background-hover-color-styles($bg-color, $font-color, $border-color, $hover-bg-color, $hover-font-color, $hover-border-color);
            }
        }
    }
}



//===============================================================//
// Background Colour Helpers
//===============================================================//

@mixin background-color-styles($bg-color, $font-color: '', $border-color: '') {
    background-color: $bg-color;

    @if $font-color != '' {
        color: $font-color;
    }

    @if $border-color == '' {
        $border-color: $bg-color;
    }
    @else {
        $border-color: $border-color;
    }

    border-color: $border-color;
}

@mixin background-hover-color-styles($bg-color, $font-color: '', $border-color: '', $hover-bg-color:'', $hover-font-color:'', $hover-border-color: '') {
    @if $hover-bg-color == '' {
        $hover-bg-color: darken($bg-color, 4%);
    }
    background: $hover-bg-color;

    @if $hover-font-color == '' {

        @if $font-color == '' {
            $hover-font-color: $white;
        }
        @else {
            $hover-font-color: $font-color;
        }
    }
    color: $hover-font-color;

    @if $hover-border-color == '' {
        @if $border-color == '' {
            $hover-border-color: $hover-bg-color;
        }
        @else {
            $hover-border-color: $border-color;
        }
    }

    border-color: $hover-border-color;
}