// Background Gradient
@mixin background-gradient($topColour, $bottomColour) {
    background: $bottomColour;
    background: -moz-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $topColour), color-stop(100%, $bottomColour));
    background: -webkit-linear-gradient(top,  $topColour 0%, $bottomColour 100%);
    background: -o-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: -ms-linear-gradient(top, $topColour 0%, $bottomColour 100%);
    background: linear-gradient(to bottom, $topColour 0%, $bottomColour 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#{$topColour}', endColorstr = '#{$bottomColour}', GradientType = 0 );
}