//===============================================================//
// CSS Columns
//===============================================================//
//
// Generate CSS columns and margins
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $columns    {Integer}- Number of columns
//      $margin     {Pixel Value|Percentage}- Column margin
//
//  SCSS:
//
//      .content {
//          @include css-column(2, 10px);
//      }
//
//  CSS:
//
//      .content {
//          -webkit-columns: 10px 2;
//          -moz-columns: 10px 2;
//          columns: 10px 2;
//      }
//
//===============================================================//

@mixin css-column($columns: 1, $margin: 20px) {
    -webkit-columns: $margin $columns;
    -moz-columns: $margin $columns;
    columns: $margin $columns;
}