//===============================================================//
// Ellipsis
//===============================================================//
//
// Set the overflow of an element to show an ellipsis (...)
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $width  {Pixel Value|Percentage}- Element Width
//
//  SCSS:
//
//      .content {
//          @include ellipsis(100px);
//      }
//
//  CSS:
//
//      .content {
//          display: inline-block;
//          max-width: 100px;
//          overflow: hidden;
//          text-overflow: ellipsis;
//          white-space: nowrap;
//          word-wrap: normal;
//      }
//
//===============================================================//

@mixin ellipsis($width: 100%) {
    display: inline-block;
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}