@import "../font-awesome/variables";
@import "../font-awesome/mixins";

//===============================================================//
// Font Awesome Icon
//===============================================================//
//
// Generate appropriate box sizing prefixes. Use the font awesome
// icon variables located in the font-awesome/_variables.scss file
// e.g. $fa-var-phone
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $fa-icon-name {String}- Font awesome name
//
//  SCSS:
//
//      .phone-icon {
//          @include font-awesome-icon($fa-var-phone);
//      }
//
//  CSS:
//
//      .phone-icon {
//          display: inline-block;
//          font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome;
//          font-size: inherit;
//          text-rendering: auto;
//          -webkit-font-smoothing: antialiased;
//          -moz-osx-font-smoothing: grayscale;
//          content: "\f095";
//      }
//
//===============================================================//

@mixin font-awesome-icon($fa-icon-name: "") {

    @include fa-icon();

    @if $fa-icon-name != "" {
        content: $fa-icon-name;
    }
}


//===============================================================//
// Font Awesome Icon Element
//===============================================================//
//
// Generate appropriate box sizing prefixes. Use the font awesome
// icon variables located in the font-awesome/_variables.scss file
// e.g. $fa-var-phone
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $fa-icon-name   {String}- Font awesome name
//      $pseudo-element {before|after}- Pseudo element type
//
//  SCSS:
//
//      .gear-icon {
//          @include font-awesome-icon-element($fa-var-gear);
//      }
//
//      .phone-icon {
//          @include font-awesome-icon-element($fa-var-gear, after);
//      }
//
//  CSS:
//
//      .gear-icon::before {
//          display: inline-block;
//          font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome;
//          font-size: inherit;
//          text-rendering: auto;
//          -webkit-font-smoothing: antialiased;
//          -moz-osx-font-smoothing: grayscale;
//          content: "\f013";
//      }
//
//      .phone-icon::after {
//          display: inline-block;
//          font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome;
//          font-size: inherit;
//          text-rendering: auto;
//          -webkit-font-smoothing: antialiased;
//          -moz-osx-font-smoothing: grayscale;
//          content: "\f095";
//      }
//
//===============================================================//

@mixin font-awesome-icon-element($fa-icon-name: "", $pseudo-element: "before") {

    @if $pseudo-element == "before" or $pseudo-element == "after" {

        &::#{$pseudo-element} {

            @include font-awesome-icon($fa-icon-name);

            @content;
        }
    }
}

