//===============================================================//
// Hardware Acceleration
//===============================================================//
//
// Force hardware acceleration for mobile devices
// (useful on fixed elements that flicker)
//
//===============================================================//
// Usage
//===============================================================//
//
//  SCSS:
//
//      .picture {
//          @include hardware-acceleration()
//      }
//
//  CSS:
//
//      .picture {
//          -webkit-transform: translateZ(0);
//          transform: translateZ(0);
//      }
//
//===============================================================//

@mixin hardware-acceleration {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}