//===============================================================//
// Internet Explorer
//===============================================================//
//
// Prepend IE version class, useful for IE8 fixes
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $versions {Multiple Integers}- The version(s) of ie to target
//
//  SCSS:
//
//      .weather {
//          .icon {
//              background: red;
//
//              @include ie { background: green; }
//
//              @include ie(8 9) { background: yellow }
//          }
//      }
//
//  CSS:
//
//      .weather .icon { background: red; }
//
//      .ie8 .weather .icon { background: green; }
//
//      .ie8 .weather .icon,
//      .ie9 .weather .icon { background: yellow; }
//
//===============================================================//

$default-ie: 8 !default;

@mixin ie($versions: $default-ie) {
    $sel: ();
    @each $v in $versions {
        $sel: append($sel, unquote('.ie#{$v} &'), comma);
    }

    #{$sel} {
        @content;
    }
}