//===============================================================//
// Media Query
//===============================================================//
//
// Generate media queries. Automatically adjusts value to account for
// min width & max width 1px overlap.
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $constraint {$min|$max|''}- Constraint accepts $min, $max or ''
//      $viewport1  {Pixel Value}- Viewport width
//      $viewport2  {Pixel Value}- Viewport width
//
//  SCSS:
//
//      @include mq($min, 550px) {
//          .picture { display: block; }
//      }
//
//      @include mq($max, 550px) {
//          .picture { display: inline-block; }
//      }
//
//      @include mq('', 550px, 1025px) {
//          .picture { background: red; }
//      }
//
//  CSS:
//
//      @media screen and (min-width: 551px) {
//          .picture { display: block; }
//      }
//
//      @media screen and (max-width: 550px) {
//          .picture { display: inline-block; }
//      }
//
//      @media screen and (min-width: 551px) and (max-width: 1025px) {
//          .picture { background: red; }
//      }
//
//===============================================================//

$min: min-width;
$max: max-width;

@mixin mq ($constraint, $viewport1, $viewport2: null) {
    @if $constraint == $min {
        @media screen and ($min: $viewport1 + 1) {
            @content;
        }
    }
    @else if $constraint == $max {
        @media screen and ($max: $viewport1) {
            @content;
        }
    }
    @else {
        @media screen and ($min: $viewport1 + 1) and ($max: $viewport2) {
            @content;
        }
    }
}