//===============================================================//
// No Select
//===============================================================//
//
// Remove tap/active highlight colour
//
//===============================================================//
// Usage
//===============================================================//
//
//  SCSS:
//
//      .icon {
//          @include no-select();
//      }
//
//  CSS:
//
//      .icon {
//          -webkit-user-select: none;
//          -moz-user-select: -moz-none;
//          -ms-user-select: none;
//          user-select: none;
//          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//      }
//
//===============================================================//

@mixin no-select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Android
}