//===============================================================//
// Position Absolute
//===============================================================//
//
// Absolutely position an element. Allows for pull position control.
// Any CSS option can be removed by assigning the parameter to false.
//
//===============================================================//
// Usage
//===============================================================//
//
//  PARAMS:
//      $top            {Pixel Value|Percentage}- Top position
//      $left           {Pixel Value|Percentage}- Left position
//      $width          {Pixel Value|Percentage}- Element Width
//      $height         {Pixel Value|Percentage}- Element Height
//      $bottom         {Pixel Value|Percentage}- Bottom position
//      $right          {Pixel Value|Percentage}- Right position
//      $margin-top     {Pixel Value|Percentage}- Margin Top
//      $margin-bottom  {Pixel Value|Percentage}- Margin Bottom
//      $margin-left    {Pixel Value|Percentage}- Margin Left
//      $margin-right   {Pixel Value|Percentage}- Margin Right
//
//  SCSS:
//
//      .picture {
//          @include position-absolute();
//      }
//
//      .picture2 {
//          @include position-absolute($width: 50px, $margin-left: -25px);
//      }
//
//      .picture3 {
//          @include position-absolute($top: false, $bottom: 10px, $width: false, $height: false);
//      }
//
//  CSS:
//
//      .picture {
//          position: absolute;
//          top: 0;
//          left: 0;
//          width: 100%;
//          height: 100%;
//      }
//
//      .picture2 {
//          position: absolute;
//          top: 0;
//          left: 0;
//          width: 50px;
//          height: 100%;
//          margin-left: -25px;
//      }
//
//      .picture3 {
//          position: absolute;
//          bottom: 10px;
//          left: 0;
//      }
//
//===============================================================//

@mixin position-absolute( $top: 0, $left: 0, $width: 100%, $height: 100%, $bottom: false, $right: false,
                          $margin-top: false, $margin-bottom: false, $margin-left: false, $margin-right: false) {

    position: absolute;

    // Position
    @if $top != false {
        top: $top;
    }
    @if $bottom != false {
        bottom: $bottom;
    }
    @if $left != false {
        left: $left;
    }
    @if $right != false {
        right: $right;
    }
    // Width & Height
    @if $width != false {
        width: $width;
    }
    @if $height != false {
        height: $height;
    }
    // Margins
    @if $margin-top != false {
        margin-top: $margin-top;
    }
    @if $margin-bottom != false {
        margin-bottom: $margin-bottom;
    }
    @if $margin-left != false {
        margin-left: $margin-left;
    }
    @if $margin-right != false {
        margin-right: $margin-right;
    }
}