// Animation Prefixer
@mixin animate-prefixer($property, $value...) {
    -webkit-#{$property}: unquote('#{$value}');
    -moz-#{$property}: unquote('#{$value}');
    -ms-#{$property}: unquote('#{$value}');
    -o-#{$property}: unquote('#{$value}');
    #{$property}: unquote('#{$value}');
}


// Transition
@mixin transition($properties: all, $duration: 200ms, $easing: ease, $delay: 0ms) {
    @if length($properties) > 1 {
        @include animate-prefixer(transition-property, $properties);
        @include transition-duration($duration);
        @include animate-prefixer(transition-timing-function, $easing);
        @include transition-delay($delay);
    }
    @else {
        @include custom-transition($properties $duration $easing $delay);
    }
}


// Transition
@mixin custom-transition($transition-string...) {
    @include animate-prefixer(transition, $transition-string);
}

// Transition Delay
@mixin transition-delay($delay: 0ms) {
    @include animate-prefixer(transition-delay, $delay);
}

// Transition Duration
@mixin transition-duration($duration: 200ms) {
    @include animate-prefixer(transition-duration, $duration);
}


// Animation Duration
@mixin animation-duration($duration: 200ms) {
    @include animate-prefixer(animation-duration, $duration);
}


// Transform
@mixin transform($transforms...) {
    @include animate-prefixer(transform, $transforms);
}

// Transform Important
@mixin transform-important($transforms...) {
    @include animate-prefixer(transform, $transforms !important);
}

// Transform Origin
@mixin transform-origin($transform-origin...) {
    @include animate-prefixer(transform-origin, $transform-origin);
}


// Animation duration - generates classes of animation durations
@mixin generate-animation-duration($animation-step: 200, $animation-end: 2000){

    $i: $animation-step;
    @while $i <= $animation-end {
        .d#{$i} {
            @include animation-duration(#{$i}ms);
        }
        $i: $i + $animation-step;
    }
}