


// Load More Bar
// -------------------------------

.load-more {
    position: relative;
    padding: 20px 0;
    width: 200px;
    margin: 40px auto 0;
    overflow: hidden;
    z-index: 10;

    color: $white;
    background-color:$green;
    font-weight: $font-weight-semi-bold;
    font-size:em(14);
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;

    @include custom-transition(background 200ms);



    // Loading Animation
    // -------------------------------

    &.loading,
    &.loading:hover {

        &:after {
            display: inline-block;
            padding: 0;
            margin-left: 5px;
            content: $fa-var-spinner;
            font-family: 'FontAwesome';

            @include animate-prefixer(animation, rotate 2s infinite linear);
        }
    }


    // Hover Animation
    // -------------------------------

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1000px;
        margin-top: -500px;
        z-index: -1;

        background: darken($extra-light-grey, 11%);

        opacity: 0;
        border-radius: 50%;
    }

    &:hover {

        background:$light-green;

        &::after {
            @include animate-prefixer(animation, fadeBottom 1600ms ease-in-out infinite);
        }

        &:before {
            @include animate-prefixer(animation, p 1.4s ease);
        }
    }
}
