

$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb6;
$google: #dd4b39;
$youtube: #bb0000;
$instagram: #517fa4;
$pinterest: #bd081c;


.social-media-icons
{
    a
    {
        display: inline-block;
        text-decoration: none;

        @include transition(color);

        &:hover
        {
            &.facebook
            {
                color: $facebook;
            }
            &.twitter
            {
                color: $twitter;
            }
            &.linkedin
            {
                color: $linkedin;
            }
            &.google
            {
                color: $google;
            }
            &.youtube
            {
                color: $youtube;
            }
            &.instagram
            {
                color: $instagram;
            }
            &.pinterest
            {
                color: $pinterest
            }
        }
    }

    &.circles
    {

        i {
            background-color: #fff;
            border-radius: 50%;
            font-size: 33px;
            padding-top: 5px;
            height: 55px;
            width: 55px;
        }


        a
        {
            color: $green;
            padding: 8px;

            .fa-circle
            {
                color: $footer-font-color;
            }

            &:hover
            {
                &.facebook .fa-circle
                {
                    color: $facebook;
                }
                &.twitter .fa-circle
                {
                    color: $twitter;
                }
                &.linkedin .fa-circle
                {
                    color: $linkedin;
                }
                &.google .fa-circle
                {
                    color: $google;
                }
                &.youtube .fa-circle
                {
                    color: $youtube;
                }
                &.instagram .fa-circle
                {
                    color: $instagram;
                }
                &.pinterest .fa-circle
                {
                    color: $pinterest
                }
            }
        }
    }
}