


.title-block {
    padding-bottom: 15px;
    text-align: center;

    .module .module & {
        font-size: .7em;

        .subtitle {
            font-size: 1.5em;
        }
    }
}

