body, html {
    height: 100%;
}

html {
    @include box-sizing;
}

body {
    background: $body-background-color;
    overflow-x: hidden;
}

*, *:before, *:after {
    @include box-sizing;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $light-grey;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

p {
    margin: 0;
    padding: 0 0 15px 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    vertical-align: middle;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right
}

img.left {
    padding: 0 15px 10px 0;
}

img.right {
    padding: 0 0 15px 15px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-responsive-max {
    max-width: 100%;
}

.visible-mobile,
.visible-tablet,
.visible-desktop,
.visible-mobile-inline,
.visible-tablet-inline,
.visible-desktop-inline,
.desktop-menu {
    display: none !important;
}

.mobile-menu {
    display: block;
}

@include mq($max, $tablet-portrait-breakpoint) {
    .visible-mobile {
        display: block !important;
    }
    .visible-mobile-inline {
        display: inline !important;
    }
}

@include mq('', $tablet-portrait-breakpoint, $desktop-breakpoint) {
    .visible-tablet {
        display: block !important;
        color: #fff;
    }
    .visible-tablet-inline {
        display: inline !important;
    }
}

@include mq($min, $desktop-breakpoint) {
    .visible-desktop {
        display: block !important;
    }
    .visible-desktop-inline {
        display: inline !important;
    }
}



