textarea {
    resize: vertical;
}

fieldset {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
}

label,
input,
select {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
}

label {
    padding-bottom: $small-spacing;
    cursor: pointer;
}

input,
textarea,
select {
    width: 100%;
    padding: $input-padding;
    background: $input-background-color;
    border: $input-border;
    border-radius: $base-border-radius;
    font-family: $base-font-family;
    font-size: em(14);
    -webkit-appearance: none;
    @include placeholder {
        color: $placeholder-font-color;
    }
}

textarea {
    resize: vertical;
}

.select-wrap {
    position: relative;

    &:after {
        position: absolute;
        top: 10px;
        right: 10px;
        @include font-awesome-icon($fa-var-angle-down);
    }
}

.error input,
.error textarea,
.error select,
input.error,
textarea.error,
select.error {
    border: 1px solid $red;
}

input.disabled,
textarea.disabled,
select.disabled {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.checklist {
    padding: 0 0 35px 0;
    float: left;
    width: 100%;
    margin: 0;

    li {
        padding: 15px 0 0 0;
        width: 100%;
        float: left;
        margin: 0;
        clear: both;
        list-style: none;

        label {
            display: inline;
            padding-left: 10px;
        }
    }
}

/*
    Hide the original radios and checkboxes
    (but still accessible)

    :not(#foo) > is a rule filter to block browsers
                 that don't support that selector from
                 applying rules they shouldn't

*/
:not(#foo) input[type='radio'],
:not(#foo) input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 26px !important;
}

:not(#foo) input[type='radio'] + label,
:not(#foo) input[type='checkbox'] + label {
    clear: none;
    display: block;
    min-height: 26px;
    padding: 5px 0 5px 37px;
    margin: 0;
    background: url('#{$images-path}icons/sprite-form-icons.png') no-repeat transparent;
    cursor: pointer;
    text-align: left;
}

:not(#foo) input[type='radio'] + label {
    background-position: 0 -300px;
}

:not(#foo) input[type='radio']:checked + label {
    background-position: 0 -200px;
}

:not(#foo) input[type='checkbox'] + label {
    background-position: 0 -100px;
}

:not(#foo) input[type='checkbox']:checked + label {
    background-position: 0 0;
}

/*
 * Styling for webkit browsers only
 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    fieldset select.ddl {
        *background-image: none;
        background-image: url(#{$images-path}icons/sprite-dropdown-icon.png);
        background-position: 100% 17px;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
    }

    fieldset.dark select.ddl {
        background-position: 100% -35px;
    }
}