.gform_wrapper {
    ul {
        padding: 0;

        &:after,
        &:before {
            content: " ";
            display: table;
        }
    }

    .ginput_container {
        margin-top: 0 !important;
    }

    .gform_confirmation_message {
        text-align: center;
    }

    .gform_validation_container {
        display: none;
    }

    .validation_error {
        padding: 10px;
        margin-bottom: 30px;
        background: $red;
        border-radius: 3px;
        color: #fff;
        font-style: italic;
        text-align: center;
    }

    .validation_message,
    label.error {
        clear: both;
        display: block;
        padding: 5px 0;
        color: $red;
        font-style: italic;
        text-transform: none;
        text-align: left;
    }

    .gform_confirmation_message {
        color: #fff;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }

    li.gfield {
        clear: none;
        padding-bottom: 30px;
        list-style-type: none;

        &.gfield.col-1-1 {
            clear: both !important;
        }
    }

    label {
        padding: 0 0 7px;
        font-size: em(14);
        text-align: left;
    }

    .gfield {
        position: relative;

        &.has-icon .ginput_container:before {
            position: absolute;
            top: 28px;
            left: 32px;
            color: $base-font-color;
            font-family: 'FontAwesome';
        }

        &.has-icon input,
        &.has-icon textarea {
            padding: 14px 17px 14px 40px !important;
        }
    }

    .gfield_contains_required {
        input {
            @include placeholder {
                &::after {
                    padding-left: 5px;
                    color: $red;
                    font-weight: $font-weight-bold;
                    content: '*';
                }
            }
        }
    }

    .gform_page_footer {
        clear: both;
        margin: 0 !important;
    }

    .gform_footer {
        clear: none !important;
        padding: 0 !important;
        margin: 0 !important;

        li {
            padding-right: 15px !important;
        }
    }

    .btn-previous {
        display: none;
    }
}

.module.has-bg input[type=checkbox] + label {
    color: #fff !important;
}

@include mq($max, $tablet-portrait-breakpoint) {
    .gform_wrapper {
        .gform_footer li {
            padding-left: 15px !important;
        }

        .gf_page_steps .gf_step:not(.gf_step_active) {
            display: none;
        }
    }
}

@include mq($min, $tablet-portrait-breakpoint) {
    .gform_wrapper {
        .gf_page_steps {
            margin: 60px 0;

            .gf_step {
                display: inline-block;
                padding: 10px 25px;
                font-size: em(12);
            }
        }
    }
}

@include mq($min, $tablet-landscape-breakpoint) {
    .gform_wrapper {
        .gf_page_steps {
            margin: 60px 0;

            .gf_step {
                padding: 10px 40px;
                font-size: em(14);
            }
        }
    }
}


