.icon {
    display: block;

    background-size: contain;
    background-position: center;

    &[data-grunticon-embed] {
        background-image: none !important;
    }

    svg {
        width: 100%;
        height: 100%;

        vertical-align: top;
    }
}