ul {
    margin: 0;
}

li {
    padding-bottom: $small-spacing;
}

dl {
    padding: 0 0 $small-spacing 0;
    margin: 0;
}

dt {
    clear: left;
    float: left;
    width: 30%;
}

dd {
    padding: 0 0 $small-spacing 31%;
}