table {
    width: 100%;
    border-collapse: collapse;
}

tr,
th,
td {
    vertical-align: middle;
}

th,
td {
    padding: $small-spacing 0;
    border: $base-border;
}

th {
    background: #edede9;
    text-align: left;
    font-weight: normal;
}