body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: normal;
    line-height: $heading-line-height;
    padding: 0 0 $header-spacing;
    margin: 0;
}

h1{
    font-size: em(40);
}

h2 {
    font-size: em(28);
}

h3 {
    font-size: em(22);
}

h4 {
    font-size: em(16);
}

.h1 {
    @extend h1;
}
.h2 {
    @extend h2;
}
.h3 {
    @extend h3;
}
.h4 {
    @extend h4;
}

p {
    padding: 0 0 $base-spacing;
    margin: 0;
}

a {
    color: $action-colour;
    text-decoration: none;
    outline: none;

    @include transition(color);

    &:hover {
        color: darken($action-colour, 15%);
        text-decoration: underline;
        outline: none;
    }
}

@include mq($min, $tablet-portrait-breakpoint) {
    h1 {
        font-size: em(50);
    }
    h2 {
        font-size: em(35);
    }
    h3 {
        font-size: em(20);
    }
    h4 {
        font-size: em(17);
    }
}

@include mq($min, $tablet-landscape-breakpoint) {
    h1 {
        font-size: em(90);
    }
    h2 {
        font-size: em(50);
    }
    h3 {
        font-size: em(26);
    }
    h4 {
        font-size: em(18);
    }
}