@font-face {
    font-family: 'marydale';
    src: url('#{$fonts-path}marydale/marydale-webfont.eot');
    src: url('#{$fonts-path}marydale/marydale-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts-path}marydale/marydale-webfont.woff') format('woff'),
    url('#{$fonts-path}marydale/marydale-webfont.ttf') format('truetype'),
    url('#{$fonts-path}marydale/marydale-webfont.svg#marydaleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}