$transition-duration: 600ms;
$transition-function: ease-in;

.lazy-image {
    visibility: hidden;
    opacity: 0;

    @include custom-transition(opacity $transition-duration 0ms $transition-function, visibility 0ms $transition-duration $transition-function);

    &.lazy-success {
        visibility: visible;
        opacity: 1;
        @include custom-transition(opacity $transition-duration 0ms $transition-function, visibility 0ms 0ms $transition-function);
    }
}