// Directories
// -------------------------------

$images-path: "../img/";
$fonts-path: "../fonts/";


// Theme Colours
// -------------------------------

$blue: #2A3390;
$dark-blue: #252830;
$red: #e15636;

$extra-dark-grey: #0e0c0d;
$dark-grey: #252830;
$grey: #3a3739;
$light-grey: #767575;
$breadcrumb-grey:#EAEAEA;
$extra-light-grey: #f4f4f5;
$green:#2ec25a;
$dark-green: #2cb856;
$light-green: #40D86D;

$white: #fff;
$black: #000;

$primary-colour: $blue;     // Primary theme colour (buttons, icons)
$secondary-colour: $red;    // Secondary theme colour
$action-colour: $blue;      // Base colour for actions (links, etc)


// Colours
// -------------------------------

$body-background-color: #fff;

$header-background-color: $white;
$header-top-background-color: $extra-dark-grey;
$menu-toggle-color: $green;

$footer-background-color: $extra-light-grey;
$footer-top-background-color: $extra-light-grey;
$footer-bottom-background-color: $green;


// Font Colours
// -------------------------------

$base-font-color: $dark-grey;
$light-font-color: $grey;
$footer-font-color: $light-grey;
$footer-font-hover : #AFAFAF;


// Fonts
// -------------------------------

$fall-back-fonts: Helvetica Neue, Bitstream Vera Sans, Arial;
$open_sans: 'Open Sans', $fall-back-fonts;
$marydale: 'marydale', $fall-back-fonts;


// Typography
// -------------------------------

$base-font-family: $open_sans;
$heading-font-family: $open_sans;
$nav-font-family: $open_sans;
$button-font-family: $open_sans;


// Font Sizes
// -------------------------------
$base-font-size: 16px;


// Font Weights
// -------------------------------

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$base-font-weight: $font-weight-regular;


// Line Height
// -------------------------------

$base-line-height: 1.6;
$heading-line-height: 1.2;
$small-line-height: 0.8;


// Other Sizes
// -------------------------------

$base-spacing: 16px;
$header-spacing: 20px;
$small-spacing: 13px;

$base-border-radius: 3px;
$base-z-index: 0;


// Border
// -------------------------------

$base-border-color: $light-grey;
$dark-border-color: $grey;
$base-border: 1px solid $base-border-color;


// Forms
// -------------------------------

$input-padding: 10px;
$input-background-color: #fff;
$input-border: none;
$placeholder-font-color: $base-font-color;


// Buttons
// -------------------------------

$base-button-background-color: $primary-colour;
$base-button-padding: 10px 25px;
$base-button-padding-mobile: 20px;
$base-button-color: #fff;
$base-button-min-width: 200px;


// Layout
// -------------------------------

$layout-inner-max-width: 1190px;
$layout-max-width: 1244px;
$layout-padding: 20px;


// Breakpoints
// -------------------------------

$mobile-mid-breakpoint: 550px;
$tablet-portrait-breakpoint: 768px;
$tablet-landscape-breakpoint: 1024px;
$desktop-breakpoint: 1300px;


// Header
// -------------------------------

$top-strip-height-mobile: 45px;
$top-strip-height-mobile-small: 45px;
$mobile-nav-width: 320px;

$header-height-mobile: 60px;
$header-height-tablet: 60px;
$header-height-desktop: 116px;


$header-top-height-desktop: 20px;

$header-nav-height-desktop: 40px;
$header-nav-padding-desktop: 20px;


// Banner
// -------------------------------

$banner-height-mobile: 210px;
$banner-height-tablet: 300px;
$banner-height-desktop: 415px;

$banner-compact-height-mobile: 150px;
$banner-compact-height-tablet: 200px;
$banner-compact-height-desktop: 290px;



// Module Settings
// -------------------------------

$padding-mobile: 35px 0;
$padding-tablet: 45px 0;
$padding-desktop: 60px 0;


// Misc
// -------------------------------

$menu-separator: ' |';
$menu-separator-padding: 0;


// Wordpress
// -------------------------------

$wp-adminbar-height: 46px;
$wp-adminbar-height-desktop: 32px;
$wp-tablet-adminbar-breakpoint: 783px;