.slick-slider {
    margin-bottom: 0;
}

.slick-list {
    .slick-loading & {
        background: url(#{$images-path}icons/ajax-loader.gif) 50% 50% no-repeat transparent;
    }
}

.slick-slide {
    position: relative;

    &:focus {
        outline: none;
    }
}



// Next & Prev Arrows

.slick-prev,
.slick-next {
    width: 42px;
    height: 42px;
    margin-top: -21px;
    z-index: 10;

    &:before,
    &:after {
        color: $base-font-color;

        .arrow-white &,
        .has-bg & {
            color: $white;
        }
    }
}


.slick-prev {
    left: 0;

    @include font-awesome-icon-element($fa-var-angle-left) {
        font-size: 40px;
    };
}

.slick-next {
    right: 0;

    @include font-awesome-icon-element($fa-var-angle-right) {
        font-size: 40px;
    };
}
