

.mod-sitemap {

    ul.children {
        padding: 10px 0 0 30px;

        h2 {
            color:$green;
        }

        li {
            padding-bottom:8px !important;
        }

        li:last-of-type {
            padding-bottom: 0;
        }
    }
}