

.mod-testimonial {

    @include mq($min, $tablet-landscape-breakpoint) {
        padding:90px 0;
    }

    .module-bg {
        background-position:0 -30px;
    }

    .img {
        width: 230px;
        margin: 0 auto;

        .inner {
            position: relative;
        }
    }

    .title-block {
        .title {
            padding:0;
            font-weight:$font-weight-light;

            @include mq($min, $tablet-landscape-breakpoint) {
                font-size:em(30);
            }
        }

        .subtitle {
            padding-bottom:35px;
            font-family:$marydale;
            font-weight:$font-weight-light;
            background: url('#{$images-path}icons/stars.png') 50% 55px no-repeat transparent;

            @include mq($max, $mobile-mid-breakpoint) {
                background-position:50% 55px;
            }

            @include mq($min, $tablet-landscape-breakpoint) {
                font-size:em(22);
            }
        }
    }

    .slide {
        font-size:em(18);
        font-weight:$font-weight-light;

        .testimonial-content {
            max-width:950px;

            p {

                @include mq($max, $tablet-portrait-breakpoint) {
                    padding: 0 15px;
                    font-size: em(14);
                }
            }
        }
    }

    .slick-prev, .slick-next {
        margin-top:-48px;
    }

    .details {
        padding: 0 45px;
        margin-top: 30px;
        text-align: center;

        &.no-img {
            margin-top: 0;
        }

        .message {
            line-height: normal;
        }

        .title {
            padding-bottom: 0;
        }
    }
}

@include mq($max, $tablet-portrait-breakpoint) {
    .mod-testimonial {
        .slide {
            .img,
            .details {
                height: auto !important;
            }
        }

        .slick-prev {
            left: -6.25% !important;
        }

        .slick-next {
            right: -6.25% !important;
        }
    }
}

@include mq($min, $tablet-portrait-breakpoint) {
    .mod-testimonial {
        .slide {
            padding: 0 35px;
        }

        .img {
            float: left;
            width: 25%;
            margin-right: 3.5%;

            .inner {
                width: 100%;

                img {
                    width: 100% !important;
                    max-width: none !important;
                }
            }
        }

        .inner {
            width: 150px;
        }

        .details {
            float: left;
            width: 71.5%;
            padding: 0;
            margin: 0;
            text-align: left;

            &.no-img {
                width: 100%;
            }

            .inner {
                text-align: left;
            }

            .message {
                position: relative;
                font-size: em(24);
            }

            .title {
                font-size: em(14);
            }
        }

        .slick-prev {
            left: -3% !important;
        }

        .slick-next {
            right: -3% !important;
        }
    }
}

@include mq($min, $tablet-landscape-breakpoint) {
    .mod-testimonial {
        .details {
            .message {
                font-size: em(30);
            }
        }
    }
}