

$loaderSize: 120px;


.blog {
    .mod-banner .banner.has-bg {
        background-color: $green;

        .banner-bg {
            display: none;
        }

    }
}

.mod-blog {
    background: $extra-light-grey;

    &.mod-blog-list {
        padding: 0;
    }

    &.mod-blog-recent {

        .blog-list {
            padding-bottom: 0;
        }
    }

    // List
    .blog-list {
        position: relative;
        padding: 45px 0;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: -9999px;
            left: -9999px;
            z-index: 14;
            width: 100%;
            height: 100%;
            background: rgba($grey, 0.5);
            opacity: 0;
            visibility: hidden;

            @include custom-transition(opacity 400ms, visibility 0ms 400ms, top 0ms 400ms, left 0ms 400ms);
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: -9999px;
            left: -9999px;
            z-index: 15;
            height: $loaderSize;
            width: $loaderSize;
            margin-top: -($loaderSize / 2);
            margin-left: -($loaderSize / 2);
            border: 10px solid rgba($white, 0.5);
            border-radius: 100%;
            opacity: 0;
            visibility: hidden;

            @include custom-transition(opacity 400ms, visibility 0ms 400ms, top 0ms 400ms, left 0ms 400ms);
        }

        &.loading {

            &::before {
                top: 0;
                left: 0;
                opacity: 1;
                visibility: visible;

                @include custom-transition(opacity 400ms, visibility 0ms 0ms, top 0ms 0ms, left 0ms 0ms);
            }

            &::after {
                top: 50%;
                left: 50%;
                opacity: 1;
                visibility: visible;

                @include animate-prefixer(animation, pulseOut 1000ms infinite);
                @include custom-transition(opacity 400ms, visibility 0ms 0ms, top 0ms 0ms, left 0ms 0ms);
            }
        }

        .text-right {

            .button {
                margin-right: 15px;

                @include mq($min, $tablet-portrait-breakpoint) {
                    margin-right: 0;
                }
            }
        }
    }

    // Post
    .blog-post {
        position: relative;

        @include mq($max, $tablet-portrait-breakpoint) {
            padding: 5px 10px;
        }

        @include mq($min, $mobile-mid-breakpoint) {
            padding: 10px;
        }
        
        .inner {
            position: relative;
            height: 377px;
            overflow: hidden;
        }

        &:hover {

            .img::before {
                @include transition-delay(0ms);
            }

            .card-hover {
                transform: translateY(100%);

                @include transition-delay(400ms);
            }

            a {
                text-decoration:none;
                color:$light-grey;
            }

        }
        
        .card-hover {
            @include position-absolute();
            top: -100%;
            z-index: 50;
            display: table;
            width: 101%;
            padding: 20px;
            background-color: $white;
            text-align: center;

            transform: translateY(0);
            @include transition(transform, 400ms, ease, 0ms);

            @include mq($max, $tablet-landscape-breakpoint) {
                display: none;
            }


            .hover-inner {
                display: table-cell;
                vertical-align: middle;

                .hover-link {
                    display: block;
                    padding: 20px 0;
                    max-width: 200px;
                    margin: 25px auto 0;
                    color: #fff;
                    background-color: #2ec25a;
                    text-transform:uppercase;
                    text-decoration: none;

                    @include transition (background-color);

                    a {
                        text-decoration: none;
                    }

                    &:hover {
                        background:$light-green;
                    }

                }

                h4 {
                    padding: 25px 10px;
                    font-size: 26px;
                    font-weight: $font-weight-light;
                }

                .date {
                    text-transform: uppercase;
                    color: $green;
                    font-size: em(12);
                    font-weight: $font-weight-bold;
                }

                .excerpt {
                    font-weight: $font-weight-light;
                    font-size:em(14);
                    line-height:1.2;
                }
            }
        }


        // Top
        .post-top {
            position: relative;
            display: block;
            height: 250px;
            background: $grey;
            overflow: hidden;


            // Hover overlay effect
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 140%;
                height: 100%;
                background: $extra-dark-grey;
                outline: 1px solid transparent;
                opacity: 0;

                @include transform-origin(bottom);
                @include transform(skewX(20deg) translate3D(-100%, 0, 0));
                @include custom-transition(all 400ms ease-in-out);
            }

            &:hover {
                &::before {
                    opacity: 1;

                    @include transform(skewX(20deg) translate3D(0, 0, 0));
                }
            }
        }

        .post-image {
            position: relative;
            width: 100%;
            height: 100%;
            background: 50% 50% / cover no-repeat;

            &.lazy-success {
                opacity: 0.5; // Ensure image is darkened to highlight background
            }
        }

        .post-detail {
            position: absolute;
            bottom: 28px;
            left: 28px;
            right: 28px;

            .category {
                display: inline-block;
                padding: 5px;
                background: rgba($white, 0.5);
                line-height: 1em;
                color: $base-font-color;
                font-size: em(12);
                font-weight: $font-weight-bold;
                text-transform: uppercase;
            }

            h4 {
                padding: 5px 0 0;
                color: $white;
                font-size: em(22);
            }
        }

        .link {
            @include position-absolute();
        }

        // Bottom
        .post-bottom {
            position: relative;
            padding: 22px 9%;
            background: $white;
            text-align: center;

            color: darken($light-grey, 10%);

            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.17);


            h4 {
                padding:5px 0;
                font-size:em(20);
            }

            .date {
                font-size:em(12);
                color:$green;
                font-weight:$font-weight-bold;

                text-transform:uppercase;
            }

        }

        .post-share {
            position: absolute;
            right: 12px;
            top: 50%;
            margin-top: -14px;

            .essb_links {
                margin: 0;

                li {
                    a {
                        padding: 4px;
                        margin: 0;
                    }
                }
            }
        }
    }
}