.single-post {
    
    .empty-results {
        display: none;
    }
    
}


.mod-blog-banner {

    background-color: $green;

    .banner {
        position: relative;
        text-align: center;
        height: 220px;

        @include mq($min, $tablet-portrait-breakpoint) {
            height: 550px;
        }

        .banner-bg {
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 8;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &:before {
        content: '';
        background-color: $extra-light-grey;
        width: 100%;
        height: 610px;
        position: absolute;
        top: 320px;
        z-index: 8;

        @include mq($min, $tablet-portrait-breakpoint) {
            top: 500px;
        }

    }

    .blog-title {
        margin: 30px 0;
        text-align: center;
    }

    h1 {
        padding: 0 0 0.2em;
        color: $white;
        font-size: em(40);
        font-weight: $font-weight-light;

        @include mq($max, $tablet-portrait-breakpoint) {
            font-size: em(28);
        }

    }

    .post-date {
        color: $extra-light-grey;
        font-weight: $font-weight-semi-bold;
        font-size: em(14);
        text-transform: uppercase;
    }
}

.mod-blog-single {
    z-index: 10;
    padding-top: 0;

    .breadcrumbs {
        overflow: hidden;
    }

    .post-share {
        position: relative;

        .share-title {
            width: 100%;
            margin: 0 auto;
            position: absolute;
            left: 45%;
            top: 10px;

            color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;

            @include mq($max, $tablet-landscape-breakpoint) {
                display: none;
            }
        }

        .essb_links {
            display: block;
            padding: 30px 30px 15px;
            margin: -50px auto 0;
            text-align: center;
            max-width: 300px;
            background-color: $green;

            @include mq($max, $mobile-mid-breakpoint) {
                padding: 10px 30px 10px;
                margin: -25px auto 0;
            }

            a {
                padding: 3px;
                background-color: transparent !important;
                border: none !important;

                &:hover {
                    border: none !important;
                }

                &:focus {
                    border: none !important;
                }

            }

            .essb_icon {
                width: 50px;
                height: 50px;

                &:hover {
                    background-color: #dedede;
                }
            }

            .essb_network_name {
                display: none;
            }
        }
    }

    .blog-content {
        padding: 20px;
        max-width: 1500px;
        background-color: $white;
        z-index: 999;

        input, select {
            border:1px solid #C3C3C3;
            max-width:300px;
        }

        #mc_embed_signup div.mce_inline_error {
            font-weight:normal !important;
            max-width:300px;
            color:#E85A60 !important;
        }

        #mc-embedded-subscribe {
            background-color:$green;
            color:$white;
            margin:0;

            @include transition ();

            &:hover {
                background:transparent;
                color:$green;
                border:1px solid $green;
            }

        }

        @include mq($min, $tablet-landscape-breakpoint) {
            padding: 70px;
        }

        p,
        ul {
            color: $light-font-color;
        }
    }
}

.post-details {
    padding-bottom: 20px;
}

.post-categories {
    list-style: none;
    padding: 0 0 8px;

    li {
        display: inline-block;
        padding: 0;
        margin-right: 6px;

        a {
            display: block;
            padding: 7px;
            background-color: $extra-light-grey;
            color: $dark-grey;
            border-radius: 12px;
            font-size: em(11);
            line-height: em(12);
            text-decoration: none;
            text-transform: uppercase;

            .mod-blog-single & {
                background-color: $dark-grey;
                color: $white;
            }
        }
    }
}

.mod-blog-related {
    @include mq($max, $tablet-portrait-breakpoint) {
        padding: 0 10px;
    }
}

