

.blog-util {
    text-align: center;

    @include mq($min, $tablet-portrait-breakpoint) {
        padding:45px 0 0;
    }

    form {
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: -9999px;
            left: -9999px;
            width: 100%;
            height: 100%;
            z-index: 14;

            opacity: 0;
            visibility: hidden;
            background: rgba($grey, 0.5);

            @include custom-transition(opacity 400ms, visibility 0ms 400ms, top 0ms 400ms, left 0ms 400ms);
        }

        &.loading {

            &::before {
                top: 0;
                left: 0;
                opacity: 1;
                visibility: visible;

                @include custom-transition(opacity 400ms, visibility 0ms 0ms, top 0ms 0ms, left 0ms 0ms);
            }
        }
    }

    .select-container {
        position: relative;
        border-top: 1px solid $dark-border-color;
        margin:0 5px;

        &:first-of-type {
            border-top: none;
        }

        @include mq($min, $mobile-mid-breakpoint) {
            display: inline-block;
            min-width: 250px;
            margin-right: -0.25em;

            border-top: none;


            &:last-of-type {

            }
        }


        select {
            font-weight: $font-weight-semi-bold;
            text-transform: uppercase;
            font-family:$open_sans;
            border:1px solid $breadcrumb-grey;
        }

        @include font-awesome-icon-element($fa-var-chevron-down, 'after') {
            position: absolute;
            top: 50%;
            right: 12px;
            margin-top: -0.5em;

            font-size: 12px;
        }
    }
}
