

.mod-wayfinder {

    .wayfinder {
        margin-top: 20px;
    }

    .wayfinder-item {
        position: relative;
        margin: 0 auto 20px;

        &:hover .img::before {
            background: rgba($black, .4);
            @include transform(skewX(20deg) translate3D(0, 0, 0));
        }
    }

    .img {
        position: relative;
        height: 200px;
        background: 50% 50% / cover no-repeat transparent;
        overflow: hidden;

        @include mq($min, $mobile-mid-breakpoint) {
            height: 300px;
        }

        &::before {
            @include position-absolute();
            @include pseudo-elem();
            width: 150%;
            background: transparent;

            @include transform-origin(bottom);
            @include transform(skewX(20deg) translate3D(-100%, 0, 0));
            @include custom-transition(all 400ms ease-in-out);
        }
    }

    h3 {
        color: $base-font-color;
        font-size: em(16);
        font-weight: $font-weight-regular;
        text-transform: uppercase;
    }

    .link {
        @include position-absolute;
    }


    &.title-overlay,
    &.title-overlay-summary-hover {

        .img {
            position: relative;
        }

        h3 {
            position: absolute;
            left: 0;
            bottom: 30px;
            width: 90%;
            padding: 20px 10px 20px 5px;
            background: $white;
            text-align: center;
        }
    }


    &.detail-below {

        .img {
            height: 200px;

            @include mq($min, $mobile-mid-breakpoint) {
                height: 200px;
            }
        }

        .detail {
            margin-top: 20px;
            text-align: center;
        }
    }


    &.title-overlay-summary-hover {

        .wayfinder-item {

            &:hover {

                .img::before {
                    @include transition-delay(0ms);
                }

                .card-hover {
                    transform: translateY(100%);

                    @include transition-delay(400ms);
                }
            }
        }

        .img {
            &::before {
                @include transition-delay(400ms);
            }
        }

        .card-hover {
            @include position-absolute();
            top: -100%;
            display: table;
            width: 101%;
            padding: 20px;
            background-color: $extra-light-grey;
            text-align: center;

            transform: translateY(0);
            @include transition(transform, 400ms, ease, 0ms);

            .inner {
                display: table-cell;
                vertical-align: middle;
            }

            .title {
                position: relative;
                display: block;
                padding-bottom: 15px;
                margin-bottom: 15px;
                color: $extra-dark-grey;
                text-transform: uppercase;

                &::after {
                    @include pseudo-elem();
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 38px;
                    height: 1px;
                    margin-left: -19px;
                    background-color: $base-font-color;
                }
            }

            .content {
                color: $base-font-color;
                font-size: em(14);
            }

            .read-more {
                color: $red;
                font-size: em(12);
                font-weight: $font-weight-semi-bold;
                text-transform: uppercase;

                i {
                    padding-left: 5px;
                }
            }
        }
    }
}