.home {

    margin-top: -135px;

    header {
        background: transparent;
    }

}

.mod-home {
    background-color: $green;
    padding-top: 182px;

    &:before {
        content: '';
        //background: $dark-green;
        //background: -webkit-linear-gradient($dark-green, $green);
        //background: -o-linear-gradient($dark-green, $green);
        //background: -moz-linear-gradient($dark-green, $green);
        //background: linear-gradient($dark-green, $green);
        background: $green;
        width: 100%;
        height: 610px;
        position: absolute;
        top: 497px;
        z-index: 0;
    }

    .title-block {

        color: $white;
        z-index: 100;

        @include mq($min, $tablet-landscape-breakpoint) {
            padding: 40px 10px 15px;
        }

        .title {
            padding: 10px;
            font-weight: $font-weight-light;
            font-family: $marydale;
            font-size: em(32);

            @include mq($min, $tablet-portrait-breakpoint) {
                font-size: em(42);
            }

            @include mq($min, $tablet-landscape-breakpoint) {
                font-size: em(56);
            }
        }

        .subtitle {
            @include mq($min, $tablet-landscape-breakpoint) {
                font-size: em(18);
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }

    .scroll-to {
        width: 100%;
        margin: 0 auto;
        padding: 15px 20px 0 18px;

        i {
            font-size: 40px;
            color: $white;

            @include transition (color);

            &:hover {
                color: #CCCCCC;
            }
        }
    }

    .title-block-mobile {

        &::before {
            position: absolute;
            top: -28px;
            left: 52%;
            width: 0;
            height: 0;
            margin-left: -168px;
            border-style: solid;
            border-width: 225px 160px 0 160px;
            border-color: #28AB4F transparent transparent transparent;
            opacity: 0.2;
            z-index: 1;
            content: '';

            @include mq($min, $mobile-mid-breakpoint) {
                display: none;
            }
        }

        .scroll-to {
            padding: 40px 0 0;
        }

        @include mq($min, $tablet-landscape-breakpoint) {
            display: none;
        }

    }

    .product-features {
        position: relative;

        @include mq($max, $desktop-breakpoint) {
            display: none;
        }

        .circle {
            position: absolute;
            background: $white;
            border-radius: 50%;

            &.circle-1 {
                width: 45px;
                height: 45px;
                top: -330px;
                left: 305px;
            }

            &.circle-2 {
                width: 12px;
                height: 12px;
                top: -365px;
                left: 285px;
            }

            &.circle-3 {
                width: 18px;
                height: 18px;
                top: -180px;
                left: 268px;
            }

            &.circle-4 {
                width: 25px;
                height: 25px;
                top: -195px;
                left: 345px;
            }

            &.circle-5 {
                width: 40px;
                height: 40px;
                top: -190px;
                right: 334px;
            }

            &.circle-6 {
                width: 14px;
                height: 14px;
                top: -270px;
                right: 273px;
            }

            &.circle-7 {
                width: 25px;
                height: 25px;
                top: -425px;
                right: 370px;
            }

            &.circle-8 {
                width: 12px;
                height: 12px;
                top: -375px;
                right: 390px;
            }
        }

        .feature {
            position: absolute;
            border-radius: 50%;
            cursor: default;
            background-color: $white;
            text-transform: uppercase;

            p {
                padding: 0 10px;
                line-height: 1.35;
                font-weight: $font-weight-semi-bold;
            }

            @include transition ();

            .border {
                z-index: 9;
            }

            &.feature-1 {
                width: 190px;
                height: 190px;
                top: -355px;
                left: 65px;

                .border-1 {
                    width: 195px;
                    height: 60px;
                    top: 84px;
                    left: 180px;
                    background: url('#{$images-path}icons/at-home.png') 1px 3px no-repeat transparent;
                }

                p {
                    font-size: em(20);
                }
            }

            &.feature-2 {
                width: 120px;
                height: 120px;
                left: 246px;
                top: -132px;

                .border-2 {
                    width: 195px;
                    height: 105px;
                    bottom: 17px;
                    left: 104px;
                    background: url('#{$images-path}icons/forp.png') 1px 3px no-repeat transparent;
                }

                p {
                    font-size: em(16);
                }

            }

            &.feature-3 {
                width: 105px;
                height: 105px;
                bottom: 388px;
                right: 437px;

                p {
                    font-size: em(14);
                }

                .border-3 {
                    width: 195px;
                    height: 122px;
                    bottom: -90px;
                    left: -13px;
                    background: url('#{$images-path}icons/onthego.png') 1px 3px no-repeat transparent;
                }
            }

            &.feature-4 {
                width: 125px;
                height: 125px;
                bottom: 293px;
                right: 231px;

                p {
                    font-size: em(18);
                }

                .border-4 {
                    width: 195px;
                    height: 105px;
                    bottom: -77px;
                    left: -148px;
                    background: url('#{$images-path}icons/atwork.png') 1px 3px no-repeat transparent;
                }
            }

            &.feature-5 {
                width: 190px;
                height: 190px;
                bottom: 150px;
                right: 24px;

                p {
                    font-size: em(20);
                    line-height: 1.1;
                }

                .border-5 {
                    width: 280px;
                    height: 220px;
                    bottom: -85px;
                    right: 261px;
                    background: url('#{$images-path}icons/outdoors.png') 1px 3px no-repeat transparent;
                }
            }

            &.feature-6 {
                width: 120px;
                height: 120px;
                right: 223px;
                top: -125px;

                .border-6 {
                    width: 195px;
                    height: 111px;
                    bottom: 30px;
                    right: 103px;
                    background: url('#{$images-path}icons/garage.png') 1px 3px no-repeat transparent;
                }

            }

            .border {
                position: relative;
            }

        }

        .item {
            display: table;
            position: absolute;
            background: $white;
            width: inherit;
            height: inherit;
            border-radius: 50%;
            overflow: hidden;
            transition: all 400ms ease-in-out;
            text-align: center;
            z-index: 10;

            @include mq($max, $desktop-breakpoint) {
                display: none;
            }

            p {
                display: table-cell;
                vertical-align: middle;
                color: $green;
                transition: all 600ms ease-in-out;
            }

        }

        .feature:hover .item {
            transform: scale(1);
            opacity: 1;
            background-color: $green;
            color: $white;
            box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 1);
        }

        .feature:hover .item p {
            color: $white;
        }
    }

    .hero-image {
        padding-top: 10px;
        position: relative;

        &:before {
            position: absolute;
            top: -182px;
            left: 35%;
            z-index: -10;
            width: 0;
            height: 0;
            margin-left: -550px;
            border-style: solid;
            border-width: 870px 730px 0 730px;
            border-color: #27a54d transparent transparent transparent;
            opacity: 0.4;
            content: '';

            @include mq($max, $desktop-breakpoint) {
                display: none;
            }
        }

        .image {
            height: 500px;
            background: no-repeat center;

            @include mq($max, $tablet-portrait-breakpoint) {
                height:300px;
                background-size:contain;
            }
        }
    }
}