

footer {
    padding-top:25px;
    clear: both;
    color: $footer-font-color;
    font-size: em(12);
    text-align: center;

    a {
        color: $footer-font-color;

        &:hover {
            color: $footer-font-hover;
            text-decoration: none;
        }
    }

    h4 {
        color: #fff;
        font-size: em(14);
        text-transform: uppercase;
    }

    .footer-logo {
        display: block;
        background:$white;

        img {

            @include mq($max, $tablet-portrait-breakpoint) {
                margin-left:25px;
                width:200px;
            }
        }
    }

    .legals {
        padding:10px 0;
    }

    .disclaimer {
        padding-top:20px;
    }


    .footer-products {
        background-color:$white;
        display:table;
        width:760px;
        margin:0 auto;

        .product {
            display: table-cell;
            vertical-align:bottom;
            padding:0 25px;

            img {
                transform:scale(1);

                @include transition (scale 900ms);

                &:hover {
                    transform:scale(1.02);
                }
            }
        }

        .isocol-face {

            img {
                width:60px;
            }

        }

        p {
            padding:15px;
            text-transform: uppercase;
            color:$dark-grey;
            font-weight: $font-weight-semi-bold;
        }

        a {

            &:hover {
                color: $green;
                text-decoration: none;
            }
        }


        @include mq($max, $tablet-portrait-breakpoint) {
            display:none;
        }

    }




    .footer-nav {
        ul,
        li {
            padding: 0;
        }

        &.block {
            a {
                display: inline-block;
                padding: 0;
                text-transform: uppercase;
                font-size:14px;
                font-weight:$font-weight-semi-bold;
            }

            > div > ul > li {
                padding: 10px 0;
                list-style-type: none;
            }

            .sub-menu {
                a {
                    text-transform: none;
                }
            }
        }

        &.inline {
            display: inline-block;

            li {
                display: inline;

                &:not(:last-of-type):after {
                    content: $menu-separator;
                    padding: $menu-separator-padding;
                }
            }
        }
    }

    .top {
        padding: 170px 0 30px;
        margin-top: -100px;
        background: $footer-top-background-color;

        @include mq($max, $tablet-portrait-breakpoint) {
            padding: 25px 0 30px;
            margin-top: 25px;
        }

    }

    .bottom {
        clear: both;
        padding: 30px 0;
        background: $footer-bottom-background-color;
        text-align: center;
    }
}

@include mq('', $mobile-mid-breakpoint, $tablet-portrait-breakpoint) {
    footer {
        .footer-nav.block {
            padding: 0;

            > div > ul > li {
                display: inline-block;
                width: 50%;
                margin-right: -4px;
                vertical-align: top;
            }
        }
    }
}

@include mq($min, $mobile-mid-breakpoint) {
    footer {
        .footer-nav.block {
            //            padding: 30px 0;
        }
    }
}

@include mq($min, $tablet-portrait-breakpoint) {

    footer {
        text-align: center;

        .footer-logo {
            padding-left:40px;
            display: inline-block;
            text-align: center;
        }

        .footer-nav.block {
            display: table;
            width: 100%;

            > div {
                display: table-cell;
            }

            > div > ul {
                display: table;
                width: 100%;

                > li {
                    display: inline;
                    padding:0 5px;

                }
            }
        }
    }
}