$accordionAnimationDuration: 200ms;

.mod-accordion {

    .accordion-list {
        padding: 0;
        margin: 0 auto;
        list-style-type: none;
        text-align: left;
        font-weight:$font-weight-light;
    }

    .title {
        text-transform: uppercase;
        color:$base-font-color;
        font-weight:$font-weight-light;
        letter-spacing:1px;

        @include mq($min, $tablet-landscape-breakpoint) {
            padding-bottom:30px;
            text-align:left;
            font-size:em(28);
        }

    }

    .accordion-item {
        padding: 0;

        &.first {
            .accordion-title {
                border-top: 1px solid #dbdcdd;
            }
        }

        // Active Accordion
        &.animating {
            .accordion-detail {
                position: relative;
                width: 100%;
                height: auto;
            }
        }

        &.open {
            .accordion-title {
                background-position: 100% -773px;
                color: $base-font-color;

                span {
                    @include transform(rotate(45deg));

                    &:before {
                        @include transform(rotate(0deg));
                    }

                    &:after {
                        @include transform(rotate(0deg));
                    }
                }
            }

            .accordion-detail {
                position: relative;
                visibility: visible;
                background-color:$extra-light-grey;
                width: 100%;
                height: auto;
                opacity: 1;
                @include custom-transition(opacity $accordionAnimationDuration, visibility 0ms 0ms);
            }
        }
    }

    .accordion-title {
        position: relative;
        display: block;
        padding: 24px 50px 24px 24px;
        cursor: pointer;
        color: $base-font-color;
        text-decoration: none;
        border-bottom: 1px solid #dbdcdd;
        @include no-select();

        @include mq($min, $tablet-landscape-breakpoint) {
            font-size: em(16);
        }

        &:hover {

            span {
                &:before {
                    @include transform-origin(1px 1px);
                    @include transform(rotate(45deg));
                }

                &:after {
                    @include transform-origin(5px 1px);
                    @include transform(rotate(-45deg));
                }
            }
        }
    }

    .accordion-symbol {
        position: absolute;
        display: block;
        right: 28px;
        top: 50%;
        height: 10px;
        width: 2px;
        margin-top: -5px;
        background: $green;
        @include custom-transition(all 250ms);

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 6px;
            height: 2px;
            margin-top: -1px;
            background: $green;
            @include custom-transition(all 200ms);
        }

        &:before {
            margin-left: -4px;
        }
    }

    .accordion-detail {
        visibility: hidden;
        position: fixed;
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 20px 23px 8px;
        background: lighten($extra-light-grey, 6%);
        border-bottom: 1px solid #dbdcdd;
        opacity: 0;
        @include custom-transition(opacity $accordionAnimationDuration, visibility 0ms $accordionAnimationDuration);
    }



    // Horizontal Accordion (default)
    &.default .accordion-list {
        max-width: $layout-inner-max-width;
    }



    // Vertical Accordion
    &.vertical {

        .accordion-list-wrap {

            .accordion-title {
                display: none;

                @include mq($min, $tablet-landscape-breakpoint) {
                    display: block;
                }
            }

            .accordion-detail {
                padding: 24px;
            }
        }

        .accordion-content-wrap {

            .accordion-title {
                display: block;

                @include mq($min, $tablet-landscape-breakpoint) {
                    display: none;
                }
            }
        }

        .accordion-list {

            .accordion-item.open,
            .accordion-item:hover {

                .accordion-title {

                    &:before {
                        width: 5px;
                    }
                }
            }
        }

        .accordion-title {

            @include mq($min, $tablet-landscape-breakpoint) {
                padding: 24px;

                &:before {
                    @include position-absolute();
                    @include pseudo-elem();
                    width: 0;
                    background-color: $primary-colour;

                    @include transition(width, 400ms);
                }
            }
        }

        .accordion-symbol {
            @include mq($min, $tablet-landscape-breakpoint) {
                display: none;
            }
        }

        .accordion-detail {
            width: 100%;
            background-color: transparent;

            @include mq($min, $tablet-landscape-breakpoint) {
                padding: 0 0 0 40px;
                border-bottom: none;
            }
        }


    }

}