.mod-form {

    .title-block {
        color: $white;
        padding-bottom: 35px;

        .title {
            padding: 0;
            font-weight: $font-weight-light;

            @include mq($min, $tablet-landscape-breakpoint) {
                font-size: em(30);
            }
        }

        .subtitle {
            font-weight: $font-weight-light;
            font-family: $marydale;

            @include mq($min, $tablet-landscape-breakpoint) {
                font-size: em(18);
            }
        }
    }

    &.mod-form-subscribe {
        padding: 40px 0;
        background-color: $dark-blue;

        @include mq($min, $tablet-landscape-breakpoint) {
            padding: 65px 0;
        }

        @include mq($max, $mobile-mid-breakpoint) {
            padding: 20px 0;
        }

        h2 {
            padding: 0 0 5px;
            font-size: em(28) !important;
            letter-spacing: 1px;

            @include mq($max, $mobile-mid-breakpoint) {
                font-size: em(24) !important;
            }
        }

        p {
            color: $white;
            padding-bottom: 8px;

            @include mq($max, $mobile-mid-breakpoint) {
                display: none;
            }
        }

        .gform_confirmation_message_1 {
            color: $white;
        }

        .gform_wrapper {
            display: block;
            max-width: 600px;
            margin: 0 auto;

            .gfield {
                @include mq($max, $tablet-portrait-breakpoint) {
                    padding-bottom: 10px;
                }
            }

            .validation_error {
                display: none !important;
            }

            .gfield_label {
                display: none !important;
            }

            label.error {
                float: left !important;
            }

            .ginput_container {
                input {
                    width: 415px !important;
                    border-radius: 0;
                    display: block;
                    background-color: #fff;
                    padding: 21px 25px;

                    @include mq($max, $tablet-portrait-breakpoint) {
                        width: 100% !important;
                    }
                }
            }
        }

        .gform_footer {
            position: relative;

            #gform_ajax_spinner_1 {
                display: none;
            }

            button {
                @include transition();
                background-color: $green;
                padding: 15px 10px;
                color: $white;
                font-size: em(14);
                border: none !important;
                outline: none !important;
                border-radius: 0;
                -webkit-appearance: none !important;
                appearance: none !important;

                @include mq($max, $tablet-portrait-breakpoint) {
                    width: 100%;
                    margin: 0;
                }

                &:hover {
                    background-color: lighten($green, 5%);
                }

                @include mq($min, $tablet-portrait-breakpoint) {
                    position: absolute;
                    bottom: 20px;
                    right: 0;
                    padding: 24px 10px;
                    min-width: 165px;
                }
            }
        }
    }

    &.mod-form-enquiry,
    &.mod-form-wholesale {
        background-color: #f1f1f1;

        .title-block {
            color: $dark-grey !important;
            padding-bottom: 35px;
        }

        .gform_body {
            position: relative;
            max-width: 800px;
            margin: 0 auto;

            .col {
                padding-right: 10px;
                padding-left: 10px;
                margin-bottom: 0;

                @include mq($max, $tablet-portrait-breakpoint) {
                    padding-right: 0;
                    padding-left: 0;
                }

            }

            .gform_fields {
                position: relative;

                @include mq($max, $tablet-landscape-breakpoint) {
                    left: 0;
                }

            }

            textarea {
                padding: 25px;
                width: 97%;

                @include mq($max, $tablet-portrait-breakpoint) {
                    width: 100%;
                }

            }

            li {

                .gfield_label {
                    display: none !important;
                }

                &.gfield .gfield_error {
                    width: 50% !important;
                }

                @include mq($max, $tablet-landscape-breakpoint) {
                    padding: 0;
                }
            }

            input.large {
                @include mq($max, $mobile-mid-breakpoint) {
                    width: 100% !important;
                }
            }

            input {
                padding: 18px 25px !important;

                @include mq($max, $tablet-landscape-breakpoint) {
                    padding: 15px 25px;
                    margin: 15px 0;
                    width: 100%;
                }

                &:focus {
                    outline: none;
                }
            }

            input::-webkit-input-placeholder {
                color: $light-grey !important;
            }

            textarea::-webkit-input-placeholder {
                color: $light-grey !important;
            }

            input:-moz-placeholder {
                color: $light-grey !important;
            }
        }

        .gform_footer {
            position: relative;
            max-width: 790px;
            margin: 0 auto !important;

            @include mq($max, $tablet-landscape-breakpoint) {
                text-align: center;
            }

            button {
                padding: 15px 45px;
                margin: 10px 0;
                background-color: $green;
                color: $white;
                font-family: $base-font-family;
                @include transition (background-color);

                &:hover {
                    background-color: $light-green;
                }
            }
        }
    }
}