.mod-banner {
    position: relative;
    width: 100%;
    height: $banner-height-mobile;
    padding: 0;
    overflow: hidden;

    &.size-compact {
        height: $banner-compact-height-mobile;
    }


    .slider {
        height: 100%;

        .slick-list,
        .slick-track {
            height: 100%;
        }
    }

    .banner-products {
        position: absolute;
        top:35px;
        right:-30px;

        @include mq($min, $tablet-landscape-breakpoint) {
            right:0;
        }

        @include mq($max, $tablet-landscape-breakpoint) {
            display: none;
        }
    }

    .banner {
        display: block;
        height: 100%;
        vertical-align: middle;
        text-align: center;

        &.has-bg {
            background: $grey;
            color: $white !important;
        }

        .banner-bg {
            @include position-absolute();

            background: 50% 0 / cover no-repeat transparent;
        }

        .video-bg {
            @include position-absolute();

            background: 50% 0 / cover no-repeat transparent;


            video {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;

                @include transform(translate(-50%, -50%));
            }
        }

        .layoutwidth {
            display: table;
            width: 100%;
            height: 100%;

            .inner {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .subtitle {
        max-width: $layout-inner-max-width;
        margin: 0 auto;
        padding-bottom: 10px;

        font-size: em(24);
        font-weight: $font-weight-light;
        text-transform: uppercase;
    }

    .title {
        max-width: $layout-inner-max-width;
        padding-bottom: 10px;
        margin: 0 auto;

        font-size: em(38);
        font-weight: $font-weight-light;
        text-transform: uppercase;

        @include mq($max, $tablet-landscape-breakpoint) {
            font-size:em(30);
        }

    }

    .button {
        margin: 5px 10px;
    }
}


@include mq($max, $mobile-mid-breakpoint) {

    .mod-banner {

        .subtitle {
            display: none;
        }
    }
}


@include mq($max, $tablet-portrait-breakpoint) {

    .mod-banner {

        .actions {
            padding-top: 0;
        }

        .button {
            margin: 10px 0 0;
        }
    }
}

@include mq($max, $tablet-landscape-breakpoint) {

    .mod-banner {

        // Video Banner
        //----------------------

        &.video-banner {

            .video-bg {
                display: none;
            }
        }

    }
}

@include mq('', $mobile-mid-breakpoint, $tablet-landscape-breakpoint) {

    .mod-banner {

        .subtitle {
            max-width: 700px;
            margin: 0 auto;
            padding-bottom: 5px;

            font-size: em(20);
        }

        .title {
            max-width: 700px;
            margin: 0 auto;
            padding-bottom: 15px;
        }

        .button {
            margin: 10px 10px 0;
        }
    }
}


@include mq($min, $tablet-portrait-breakpoint) {
    .mod-banner {
        height: $banner-height-tablet;

        &.size-compact {
            height: $banner-compact-height-tablet;
        }
    }
}


@include mq($min, $tablet-landscape-breakpoint) {
    .mod-banner {
        height: $banner-height-desktop;

        &.size-compact {
            height: $banner-compact-height-desktop;
        }

        &.size-full-height {
            height: 100%;
            margin-top: 0;
        }

        .actions {
            padding: 35px 0 0;
        }


        // Video Banner
        //----------------------

        &.video-banner {

            .banner-bg {
                display: none;
            }

            // Video not supported
            &.no-video {

                .video-bg {
                    display: none;
                }

                .banner-bg {
                    display: block;
                }
            }
        }
    }
}