.mod-logos {

    background-color:$dark-grey;

    h2 {

        padding:20px 0;
        color:$white;

        @include mq($min, $tablet-landscape-breakpoint) {
            font-size:em(26);
            font-weight:$font-weight-light;
        }
    }


    .layoutwidth {

        max-width:1100px;
        margin:0 auto;

        @include mq($max, $tablet-portrait-breakpoint) {
           text-align: center;
        }
    }

    .img {
        @include mq($max, $tablet-portrait-breakpoint) {
            margin-bottom:0;
        }

        img {

            width:175px;

            @include mq($min, $mobile-mid-breakpoint) {
                width:180px;
            }
        }
    }

    h4 {
        padding:5px 0;
        text-transform: uppercase;
        color:$green;
        font-size:em(12);
        font-weight:$font-weight-bold;
    }

    p {
        font-size:em(14);
        line-height:1.75;
        max-width:950px;
    }

}