.page-find-a-stockist {

    .mod-text {
        @include mq($min, $tablet-landscape-breakpoint) {
            padding:80px 0;
        }
    }

    div.results_entry {
        margin:20px 0;
    }

    div.results_entry span.location_name {
        color:$green;
    }

    div#map.slp_map {
        @include mq($min, $tablet-landscape-breakpoint) {
            width:75%;
        }
    }

    #slp_tagline {
        display:none;

    }
    
    .text_below_map {
        display: none;
    }

    #sl_div {
        padding-bottom:40px;
        border-bottom:1px solid #D2D2D2;
    }

    div.results_entry {
        padding:10px;
        cursor: pointer;
        display: inline-block;
        text-align: right;
        width: 100%;
        max-width: 890px;
        float: right;
    }

    #searchForm {

        .search_item {
            width:25%;
            float: left;
            display: inline-block;
        }

        label {
            text-align:left;
        }

        input {
            max-width:400px;
            width:235px !important;
            border:1px solid #dedede;
        }

        select {
            width:235px;
            border:1px solid #dedede;
        }

        #addressSubmit.slp_ui_button {
            margin:20px 0;
            width: 235px;

            @include transition();

            &:hover {
                color: $green;
                border-color:$green;
            }

        }

        #radius_in_submit {
            float: none;
        }
    }
}



.mod-text {

    h2 {

        padding:20px 0;

        @include mq($min, $tablet-landscape-breakpoint) {
            font-size:em(28);
            font-weight:$font-weight-light;
        }
    }

    h4 {
        padding:5px 0;
        text-transform: uppercase;
        color:$green;
        font-size:em(12);
        font-weight:$font-weight-bold;
    }

    p {
        font-size:em(14);
        line-height:1.75;
        max-width:950px;
    }

}