

header {
    position: relative;
    clear: both;
    height: $header-height-desktop + $header-top-height-desktop;
    width: 100%;
    padding: $header-top-height-desktop 0 0;
    background: $green;
    z-index: 100;

    transition: transform 200ms, background-color 400ms;
    -webkit-transition: -webkit-transform 200ms, background-color 400ms;

    &.absolute {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
    }

    .header-fixed & {
        position: fixed;
        top: 0;
        left: 0;
    }

    .header-bottom {
        padding:22px 30px 60px 30px;
        max-width:1420px;
        margin:0 auto;
        background-color:$white;

        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.17);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.17);
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.17);

        @include mq($max, $tablet-landscape-breakpoint) {
            padding:0 15px;
            margin:10px;
        }
    }

    // Mobile + Tablet
    @include mq($max, $tablet-landscape-breakpoint) {
        height: $header-height-mobile;
        padding: 0;
    }

    // Tablet
    @include mq('', $mobile-mid-breakpoint, $tablet-landscape-breakpoint) {
        height: $header-height-tablet;
    }


    @include mq($min, $tablet-landscape-breakpoint) {

        &.compact {
            @include transform(translate3D(0, -$header-top-height-desktop, 0));

            -webkit-transition: -webkit-transform 100ms;
            -moz-transition: transform 100ms;
            transition: transform 100ms;
        }
    }



    // Header Top
    .header-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-top-height-desktop;

        background: $header-top-background-color;

        // Mobile + Tablet
        @include mq($max, $tablet-landscape-breakpoint) {
            display: none;
        }
    }




    // Header Logo
    .header-logo {
        position: absolute;
        display: table;
        top:25px;
        left:43%;
        height: 150px;
        width: 250px;
        z-index:800;

        a {
            display: table-cell;
        }

        .logo {
            height: 100px;
            background: 0 0 no-repeat;
            background-size: contain;
        }

        // Mobile + Tablet
        @include mq($max, $tablet-landscape-breakpoint) {
            position: relative;
            top:5px;
            left:5px;

            height: $header-height-mobile;
            width: 160px;

            a {
                padding: 7% 0;

                .logo {
                    height: 100%;
                }
            }
        }

        // Tablet
        @include mq('', $mobile-mid-breakpoint, $tablet-landscape-breakpoint) {
            width: 260px;
            height: $header-height-tablet;

            a {
                padding: 4% 0;
            }
        }

    }

}

// Mobile
@include mq($max, $mobile-mid-breakpoint) {

    .header-fixed,
    .header-mobile-fixed {
        padding-top: $header-height-mobile;
    }
}

// Tablet Fixed Header
@include mq('', $mobile-mid-breakpoint, $tablet-landscape-breakpoint) {

    .header-fixed,
    .header-mobile-fixed {
        padding-top: $header-height-tablet;
    }
}

// Desktop Fixed Header
@include mq($min, $tablet-landscape-breakpoint) {

    .header-fixed,
    .header-mobile-fixed {
        padding-top: $header-height-desktop + $header-top-height-desktop;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: $header-height-desktop + $header-top-height-desktop;

            background: $header-background-color;

            .admin-bar & {
                top: $wp-adminbar-height;

                @include mq($min, $wp-tablet-adminbar-breakpoint) {
                    top: $wp-adminbar-height-desktop;
                }
            }
        }

    }
}


// Admin Bar
.admin-bar {
    .header-fixed {
        
        header {
            top: $wp-adminbar-height;

            @include mq($min, $wp-tablet-adminbar-breakpoint) {
                top: $wp-adminbar-height-desktop;
            }
        }
    }

}