$google-map-bg: #e5e3df; // Base Google Map background colour

.mod-map {
    padding: 0;

    .acf-map {
        height: 200px;
        background: $google-map-bg;

        .marker {
            visibility: hidden;
        }
    }

}

@include mq($min, $tablet-portrait-breakpoint) {
    .mod-map {
        .acf-map {
            height: 350px;
        }
    }
}

@include mq($min, $tablet-landscape-breakpoint) {
    .mod-map {
    }
}

@include mq($min, $desktop-breakpoint) {
    .mod-map {
        .acf-map {
            height: 505px;
        }
    }
}