.mod-product-uses {
    background: url('#{$images-path}misc/uses-bg.jpg') center no-repeat #2ec25a;
    overflow:hidden;

    @include mq($min, $tablet-landscape-breakpoint) {
        padding: 145px 0 0;
    }

    .layoutwidth {
        @include mq($min, $tablet-landscape-breakpoint) {
            padding: 0;
            max-width: 1350px;
        }
    }

    .product-uses {
        @include clearfix;
    }

    .product-row {
        clear: both;
        position: relative;
    }

    .summary {
        width: 40%;
        color: $white;
        font-weight: $font-weight-light;

        @include mq($max, $tablet-portrait-breakpoint) {
            margin-top: -35px;
            margin-bottom: 60px;
        }

        @include mq($max, $desktop-breakpoint) {
            width: 100%;
            text-align: center;

            margin-top: 311px;
            margin-bottom: 70px;
        }

        @include mq($min, $tablet-landscape-breakpoint) {
            margin: 225px 0 100px;
        }

        @include mq($min, $desktop-breakpoint) {
            margin: 50px 0 315px;
            padding-left: 50px;
        }

        &.alt {
            float: left;
        }

        h3 {
            padding: 0 0 15px;
            text-transform: uppercase;
            font-weight: $font-weight-light;

            @include mq($min, $tablet-landscape-breakpoint) {
                font-size: em(28);
            }
        }

        a {
            padding: 10px;
            color: $green;
            background-color: $white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            font-weight: $font-weight-semi-bold;
            border: 1px solid $white;

            @include mq($min, $tablet-landscape-breakpoint) {
                padding: 20px 50px;
            }

            @include transition ();

            &:hover {
                color: $white;
                background: transparent;
            }

        }

        p {
            padding-bottom: 50px;
            line-height: 1.35;

            @include mq($max, $desktop-breakpoint) {
                padding-bottom: 35px;
            }

            @include mq($min, $tablet-landscape-breakpoint) {

                font-size: em(20);
            }
        }
    }

    .images {
        position: relative;
        width: 60%;
        padding-bottom: 200px;

        @include mq($min, $desktop-breakpoint) {
            padding-bottom: 0;
        }

        @include mq($max, $desktop-breakpoint) {
            position: relative;
            width: 90%;
        }

        &.alt {
            //float: right;
        }

        .product-image-1 {
            position: relative;
            z-index: 10;
            background-repeat: no-repeat;
            height: 445px;

            top: 125px;
            left: 55px;

            @include mq($max, $desktop-breakpoint) {

                position: absolute;
                top: 465px;
                left: 25%;
                width: 100%;


            }

        }

        .card {

            margin: 5px;
            padding: 10px;
            display: inline-block;
            background-color: white;
            max-width: 295px;
            z-index: 1;
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.17);

            bottom: 0;
            left: 50%;
            transform: rotate(-5deg) translate3d(-67%, 0, 0);
            -webkit-transform: rotate(-5deg) translate3d(-67%, 0, 0);
            -moz-transform: rotate(-5deg) translate3d(-67%, 0, 0);

            @include mq($min, $mobile-mid-breakpoint) {
                padding: 10px;
                max-width: 370px;
            }

            @include mq($min, $desktop-breakpoint) {
                position: absolute;
                bottom: 80px;
                left: 205px;
                transform: rotate(-5deg);
                z-index: 1;
            }

            @include mq($max, $desktop-breakpoint) {
                position: relative;
            }

            .card-image {
                height: 285px;
                background-repeat: no-repeat;

                @include mq($max, $mobile-mid-breakpoint) {
                    height: 230px;
                    background-position: 50% 50%;
                }
            }

            .text {
                padding: 15px 40px;
                text-align: center;
                font-weight: $font-weight-light;
                font-family: $marydale;
                font-size: em(18);
                line-height: 1.35;
                color: $blue;

                @include mq($max, $mobile-mid-breakpoint) {
                    font-size: em(16);
                }
            }
        }

        .card-1 {

            padding: 10px;
            margin: 5px;
            display: inline-block;
            background-color: white;
            max-width: 290px;
            width: 100%;

            top: 65px;
            left: 50%;
            transform: rotate(8deg) translate3d(-8%, 18%, 0);
            -webkit-transform: rotate(8deg) translate3d(-8%, 18%, 0);
            -moz-transform: rotate(8deg) translate3d(-8%, 18%, 0);

            @include mq($min, $mobile-mid-breakpoint) {
                padding: 10px;
                max-width: 370px;
            }

            @include mq($min, $desktop-breakpoint) {
                position: absolute;
                top: 55px;
                left: 390px;
                box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.17);
                transform: rotate(8deg);
            }

            @include mq($max, $desktop-breakpoint) {
                position: absolute;
            }

            .card-image {
                height: 285px;
                background-repeat: no-repeat;

                @include mq($max, $mobile-mid-breakpoint) {
                    height: 230px;
                    background-position: 50% 50%;
                }
            }

            .text {
                padding: 30px;
                text-align: center;
                font-weight: $font-weight-light;
                font-family: $marydale;
                font-size: em(18);
                line-height: 1.35;
                color: $blue;

                @include mq($max, $mobile-mid-breakpoint) {
                    font-size: em(16);
                }
            }
        }
    }
}